[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
leaninit = {file = "../../dist/leaninit-0.0.3.dev1+g4a1944e.d20250106-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.12"
