[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
construct = "==2.10.68"
humanfriendly = "==10.0"
leaninit = {file = "../../dist/leaninit-0.0.2-py3-none-any.whl"}
psutil = "==5.9.3"
pyelftools = "==0.30"
pysatl = "==1.2.6"
pyyaml = "==6.0.2"
robotframework = "==6.1"
robotframework-retryfailed = "==0.2.0"

[dev-packages]

[requires]
python_version = "3.12"
